@charset "UTF-8";

.error {
    color: red;
    font-size: 28px;
    text-align: center;
}

#error{
    color: red;
    font-size: 28px;
    text-align: center;
}
/*.table {*/
/*    display:table;*/
/*}*/
/*.header {*/
/*    display:table-header-group;*/
/*    font-weight:bold;*/
/*}*/
/*.rowGroup {*/
/*    display:table-row-group;*/
/*}*/
/*.row {*/
/*    display:table-row;*/
/*}*/
/*.cell {*/
/*    display:table-cell;*/
/*    width:25%;*/
/*}*/
/*h2{*/
/*    text-emphasis: #1b0c05;*/
/*}*/
