@charset "UTF-8";

body {
    background: url('/images/pexels-photo-3465604.jpeg');
    background-size: cover
}

#welcome{
    text-align: center;
    font-size: 50px;
    color: burlywood;
    text-shadow: 2px 2px rgba(45,61,101,0.49);
    font-family: Broadway, sans-serif;
    letter-spacing: 6px;
}

.button{
    background: #eaa935;
    border-color: #1b0c05;
    text-align: right;
    font-family: Elephant, serif;
    font-size: 18px;
    border-radius: 8px;
    display: flex
}

/*h1{*/
/*    text-shadow: 2px 2px rgba(45,61,101,0.49);*/
/*    font-family: Broadway}*/


