<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../../static/design/global-design.css"/>
    <title>All Breweries</title>
</head>
<body>
<div th:if="${breweries.isEmpty()}">
    <h2 th:text="#{name.emptytitle}">No Breweries</h2>
</div>
<div th:unless="${breweries.isEmpty()}">
    <h2 th:text="#{breweries.name}">Breweries</h2>
</div>

<div class="table">
    <div class="header">
    </div>
    <div class="row" th:each="brewery : ${breweries}">
        <div class="cell" th:text="${brewery.name}">Breweries</div>
    </div>
    <br/>
    <button class="button"><a href="/breweries/new">Create New Brewery</a></button>
</div>
</body>
</html>