<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../../static/design/global-design.css"/>
    <title>All Origin Countries</title>
</head>
<body>
<div th:if="${countries.isEmpty()}">
    <h2 th:text="#{name.emptytitle}">No Origin Countries</h2>
</div>
<div th:unless="${countries.isEmpty()}">
    <h2 th:text="#{countries.name}">Origin Countries</h2>
</div>

<div class="table">
    <div class="header">
    </div>
    <div class="row" th:each="country : ${countries}">
        <div class="cell" th:text="${country.name}">Origin Countries</div>
    </div>
    <br/>
    <button class="button"><a href="/countries/new">Create New Country</a></button>
</div>

</body>
</html>