<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org",
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../../static/design/global-design.css"/>
    <title>Login</title>
</head>
<body>

<h2> Login Page</h2>

<p>
    <b th:if="${param.error}" class="error" style="color: red">Wrong username or password.</b>
</p>
<p>
    <b th:if="${param.logout}" class="error" style="color: lightgreen">You have successfully logged out.
    </b>
</p>

<form th:action="@{/authenticate}" method="post">
    <label>Username:</label>
    <br/>
    <input type="text" id="username" name="username"/>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="password" id="password" name="password"/>
    <br/>
    <br/>
    <input type="submit" value="Login"/>
</form>
<h3>
    <a th:href="@{register/}">Register</a>
</h3>
</body>
</html>