<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../../static/design/global-design.css"/>
    <title>Register Page</title>
</head>

<body>
<p>
<b th:if="${errors != null}" th:text="${errors}" class="error"/>
</p>
<form action="#" th:action="@{/register}" th:object="${userRegDto}" method="post">
    <label>Username:</label>
    <br/>
    <input type="text" th:field="*{username}"/>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="password" th:field="*{password}"/>
    <br/>
    <label>Please confirm your password:</label>
    <br/>
    <input type="password" th:field="*{passwordConfirmation}"/>
    <br/><br/>
    <input type="submit" value="Register">
</form>
<h3>
    <a th:href="@{/login}">Login</a>
</h3>
</body>
</html>