<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="../../static/design/global-design.css"/>
    <title>Show Beer By Id</title></head>
<body>
<form action="#" th:action="@{'/beers/'+${id}}" th:object="${beer}" method="get">
    <h2 th:text="#{beer.name}"><em>Brewery</em></h2>
    <h3 type="text" th:text="'Name: '+${beer.name}"></h3>
    <label class="error" th:errors="*{name}"></label>
    <h3 type="text" th:text="'ABV: '+${beer.abv}"></h3>
    <label class="error" th:errors="*{abv}"></label>

    <!--    <div th:if="${beer.description.equals(null)}">-->
    <!--        <h2 th:text="'No description entered.'">No Description</h2>-->
    <!--    </div>-->
    <h3 type="text" th:text="'Description: '+${beer.description}"></h3>
    <label class="error" th:errors="*{description}"></label>

    <h3 type="text" th:text="'Brewery: '+${beer.brewery.getName()}"></h3>
    <label class="error" th:errors="*{brewery}"></label>
    <h3 type="text" th:text="'Country of origin: '+${beer.originCountry.getName()}"></h3>
    <label class="error" th:errors="*{originCountry}"></label>
    <h3 type="text" th:text="'Style: '+${beer.style.getName()}"></h3>
    <label class="error" th:errors="*{style}"></label>
</form>
</body>
</html>