<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../../static/design/global-design.css"/>
    <title>All Tags</title>
</head>
<body>
<div th:if="${tags.isEmpty()}">
    <h2 th:text="#{name.emptytitle}">No Tags</h2>
</div>
<div th:unless="${tags.isEmpty()}">
    <h2 th:text="#{tags.name}">Tags</h2>
</div>

<div class="table">
    <div class="header">
    </div>
    <div class="row" th:each="tag : ${tags}">
        <div class="cell" th:text="${tag.name}">Tags</div>
    </div>
    <br/>
    <button class="button"><a href="/tags/new">Create New Tag</a></button>
</div>
</body>
</html>