<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/global-design.css}" href="../../static/design/global-design.css"/>
    <title>Update User Profile</title>
</head>
<body>
<b th:if="${errors != null}" th:text="${errors}" class="error"/>
<p>
<form action="#" th:action="@{'/users/' + ${userProfileDto.username} + '/update'}"
      th:object="${userProfileDto}"
      method="post">

    <h2 th:text="${userProfileDto.username}">Username:</h2>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="text" th:field="*{password}" id="password" placeholder="Password"/>
    <br/>
    <label>Confirm Password:</label>
    <br/>
    <input type="text" th:field="*{passwordConfirmation}" id="passwordConfirmation" placeholder="Password Confirmation"/>
    <br/>
    <label th:text="#{user.email}">Email</label>
    <br/>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"/>
    <br/>
    <label>First Name:</label>
    <br/>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"/>
    <br/>
    <label>Last Name:</label>
    <br/>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"/>
    <br/>
    <label>Picture</label>
    <br/>
    <input type="text" th:field="*{picture}" id="picture" placeholder="Picture">
    <br/><br/>
    <input type="submit" value="Update"/>
</form>
</p>

</body>
</html>