<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../../static/design/global-design.css"/>
    <title>Create New Brewery</title>
</head>
<body>
<form action="#" th:action="@{'/beers/'+${id}+'/update'}" th:object="${beer}" method="post">
    <label th:text="#{beer.name}">Beer</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}"></label>
    <br/><br/>
    <label th:text="#{abv.name}">ABV</label>
    <br/>
    <input type="text" th:field="*{abv}"/>
    <label class="error" th:errors="*{abv}"></label>
    <br/><br/>
    <label th:text="#{beer.description}">Beer</label>
    <br/>
    <input type="text" th:field="*{description}"/>
    <label class="error" th:errors="*{description}"></label>
    <br/><br/>
    <label th:text="#{style.name}">Style</label>
    <br/>
    <!--    <select th:field="*{styleId}">-->
    <!--        <option th:each="style : ${styles}"-->
    <!--                th:value="${style.styleId}"-->
    <!--                th:text="${style.getName()}">BeerStyleOne</option>-->
    <!--    </select>-->

    <!--    <br/><br/>-->
    <!--    <label th:text="#{brewery.name}">Brewery</label>-->
    <!--    <br/>-->
    <!--    <select th:field="*{breweryId}">-->
    <!--        <option th:each="brewery : ${breweries}"-->
    <!--                th:value="${brewery.breweryId}"-->
    <!--                th:text="${brewery.getName()}">BeerBreweryOne</option>-->
    <!--    </select>-->

    <!--    <br/><br/>-->
    <!--    <label th:text="#{country.name}">Country of origin</label>-->
    <!--    <br/>-->
    <!--    <select th:field="*{originCountryId}">-->
    <!--        <option th:each="country : ${countries}"-->
    <!--                th:value="${country.originCountryId}"-->
    <!--                th:text="${country.getName()}">BeerCountryOne</option>-->
    <!--    </select>-->
    <br/><br/><br/>
    <input type="submit" value="Update"/>
    <br/><br/>
    <div th:if="${error !=null}">
        <div class = "already exists">

            <span th:text="${error}"></span>
        </div>
    </div>
</form>
</body>
</html>