<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../../static/design/global-design.css"/>
    <title>All Styles</title>
</head>
<body>
<div th:if="${styles.isEmpty()}">
    <h2 th:text="#{name.emptytitle}">No Styles</h2>
</div>
<div th:unless="${styles.isEmpty()}">
    <h2 th:text="#{styles.name}">Styles</h2>
</div>

<div class="table">
    <div class="header">
    </div>
    <div class="row" th:each="s : ${styles}">
        <div class="cell" th:text="${s.name}">Styles</div>
        <br/><br/>
    </div>
    <br/>
    <button class="button"><a href="/styles/new">Create New Style</a></button>
</div>
</body>
</html>