<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Access Denied</title>

</head>
<body>
<h3>Access Denied Page</h3>
<b class="error">You are not authorized to access to this resource.</b>
<h3><a th:href="@{/}">Home Page</a> </h3>
</body>
</html>