<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Admin Page</title>
</head>
<body>
<h2>Admin Portal</h2>
<label>Welcome to the Admin Portal.</label>
<br/>
<a th:href="@{/}">Home Page</a>
</body>
</html>