<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>All Beers</title>
</head>
<body>
<div th:if="${beers.isEmpty()}">
    <h2 th:text="#{name.emptytitle}">No Beers</h2>
</div>
<div th:unless="${beers.isEmpty()}">
    <h2 th:text="#{beers.name}">Beers</h2>
</div>

<div class="table">
    <div class="header">
    </div>
    <div class="row" th:each="b : ${beers}">
        <div class="cell" th:text="${b.name}">Beers</div>
<!--        <button class="button"><a href="/beers/{id}">View More</a></button>-->
        <br/><br/>
    </div>
    <br/>
    <button class="button"><a href="/beers/new">Create New Beer</a></button>
</div>
</body>
</html>