<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Delete Style</title>
</head>
<body>
<form action="#" th:action="@{/styles/{id}/delete(id=${style.getStyleId()})}" th:object="${style}" method="post">
    <h2 th:text="#{style.name}">Style</h2>
    <!--    <br/>-->
    <h3 type="text" th:text="${style.name}"></h3>
    <label class="error" th:errors="*{name}"></label>
    <!--    <br/>-->
    <input type="submit" value="Delete"/></form>
</body>
</html>