<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Delete Origin Country</title>
</head>
<body>
<form action="#" th:action="@{/countries/{id}/delete(id=${country.getOriginCountryId()})}" th:object="${country}" method="post">
    <h2 th:text="#{country.name}">Origin Country</h2>
    <h3 type="text" th:text="${country.name}"></h3>
    <label class="error" th:errors="*{name}"></label>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>