<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Delete Brewery</title>
</head>
<body>
<form action="#" th:action="@{/breweries/{id}/delete(id=${brewery.getBreweryId()})}" th:object="${brewery}" method="post">
    <h2 th:text="#{brewery.name}">Brewery</h2>
    <h3 type="text" th:text="${brewery.name}"></h3>
    <label class="error" th:errors="*{name}"></label>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>