<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Delete Tag</title>
</head>
<body>
<form action="#" th:action="@{/tags/{id}/delete(id=${tag.getId()})}" th:object="${tag}" method="post">
    <h2 th:text="#{tag.name}">Tag</h2>
    <h3 type="text" th:text="${tag.name}"></h3>
    <label class="error" th:errors="*{name}"></label>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>