<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" th:href="@{global-design.css}" href="design/global-design.css"/>-->
    <title>Error Page</title>
</head>
<body>
<h1>Error: <b th:text="${error}">  </b></h1>

</body>
<html>