<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Filtered Beers</title>
</head>
<body>
<form action="#" th:action="@{/filter{style}{country}{tag}{name}}" th:object="${beers}" method="post">
    <div th:if="${beers.isEmpty()}">
        <h2 th:text="#{name.emptytitle}">No Beers</h2>
    </div>
    <div th:unless="${beers.isEmpty()}">
        <h2 th:text="'Filtered beers:'">Beers</h2>
    </div>

    <div class="table">
        <div class="header">
        </div>
        <div class="row" th:each="beer : ${beers}">
            <div class="cell" th:text="'Beer: '+${beer.name}">Beers</div>
            <div class="cell" th:text="'ABV: '+${beer.abv}"></div>
            <div class="cell" th:text="'Style: '+${beer.style}"></div>
<!--            <button class="button"><a href="/beers/{id}">View More</a></button>-->
            <br/>
            <br/>

        </div>
        <br/>
    </div>
</body>
</html>