<!DOCTYPE html>
<html lang="en"    xmlns:th="http://www.thymeleaf.org"
                   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Beer Application</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

<!--<p sec:authorize="isAuthenticated()">-->
<!--    User:<span sec:authentication="name"/>-->
<!--    <br/>-->
<!--    Role(s):<span sec:authentication="principal.authorities"/>-->
<!--</p>-->
    <b th:if="${param.error}" class="error" style="color: red">Wrong username or password.</b>
</p>
<p>
    <b th:if="${param.logout}" class="error" style="color: lightgreen">You have successfully logged out.</b>
</p>

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <span class="loading" data-name="Loading">Home Loading</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">
			<div class="side-top">
				<div class="logo-sidebar">
					<a href="/"><img src="images/beer-logo.png" alt="image"></a>
				</div>
				<ul class="sidebar-nav">
					<li><a class="active" href="/">Home</a></li>
                    <li><a href="/catalogue">Catalogue</a></li>
<!--					<li><a href="styles.html">Our Services</a></li>-->
					<li><a href="/users">Regular Users</a></li>
<!--					<li><a href="/user-profile">User Profile</a></li>-->
                    <li><a th:href="@{'/users/' + ${#authentication.name}}" sec:authorize="isAuthenticated()">User Profile</a></li>
                    <li><a href="/register" sec:authorize="!isAuthenticated()">Join</a></li>
                    <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get" class="login" id="login">
                        <input type="submit" value="Login"/>
                    </form>

                    <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post" class="login">
                        <input type="submit" value="Logout"/>
                    </form>
				</ul>
			</div>
        </div>
        <!-- End Sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
			
            <div class="all-page-bar" id="index">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="title title-1 text-center">
								<div class="title--heading">
									<h1>beer.</h1>
								</div>
								<div class="clearfix"></div>
								<ol class="breadcrumb">
									<li><a href="/login">login.</a></li>
									<li class="active">beer.</li>
								</ol>
								<div class="much">
                                    <img src="uploads/element.png" alt=""/>
								</div>
							</div>
							<!-- .title end -->
						</div>
					</div>
				</div>
			</div><!-- end all-page-bar -->

            <section class="section nopad cac text-center">
                <a href="/register"><h3>Met new and exciting  agent of the beer family and want to share with the like-minded?<br/>
                Click here to register and help enrich our beer catalogue!</h3></a>
            </section>

            <div class="section wb">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="message-box">
                                <h4>each beer</h4>
                                <h2>tells a different story.</h2>
                                <p class="lead">Which one is your favourite?</p>

                                <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>

                                <a href="/catalogue" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Our catalogue</a>
                            </div><!-- end messagebox -->
                        </div><!-- end col -->
                    </div><!-- end row -->
					
					<hr class="hr1">
                    <div class="section-title row text-center">
                        <div class="col-md-8 col-md-offset-2">
                    <h3 id="topbeers">
                        THESE ARE OUR TOP THREE BEERS
                    </h3>
                        </div>
                    </div>
					
<!--					<div class="row">-->
<!--						<div class="col-md-12">-->
<!--							<div class="about-tab">-->
<!--								<ul class="nav nav-tabs">-->
<!--									<li class="active"><a href="#tab_a" data-toggle="tab">Beer styles</a></li>-->
<!--									<li><a href="#tab_b" data-toggle="tab">Breweries</a></li>-->
<!--									<li><a href="#tab_c" data-toggle="tab">Countries of origin</a></li>-->
<!--								</ul>-->
<!--								<div class="tab-content">-->
<!--									<div class="tab-pane fade in active" id="tab_a">-->
<!--										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque tortor mi, eget mattis velit sagittis id. Duis ornare mauris eu eros interdum, vitae finibus arcu ultricies. Donec vitae felis eleifend, dignissim erat a, pretium diam. Donec eu massa odio. Suspendisse et ornare lacus, pharetra imperdiet ligula.</p>-->
<!--										<p>Vestibulum ac quam id lorem semper condimentum. Nulla vel ligula turpis. Nullam luctus, mi nec rhoncus gravida, tortor est semper purus, a feugiat sapien odio non urna. Fusce pellentesque neque ut nisi rhoncus imperdiet. Sed eu purus vel turpis consectetur convallis. Donec a dolor tellus. Phasellus dignissim erat nec ipsum condimentum sollicitudin. </p>-->
<!--									</div>-->
<!--									<div class="tab-pane fade" id="tab_b">-->
<!--										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>-->
<!--										<ul>-->
<!--											<li><i class="fa fa-circle-o" aria-hidden="true"></i>Unique Experience</li>-->
<!--											<li><i class="fa fa-circle-o" aria-hidden="true"></i>Rich Variety of Tastes</li>-->
<!--											<li><i class="fa fa-circle-o" aria-hidden="true"></i>Awesome Visual Design</li>-->
<!--											<br/>-->
<!--                                            <li><i class="fa fa-circle-o" aria-hidden="true"></i>100% pure</li>-->
<!--											<li><i class="fa fa-circle-o" aria-hidden="true"></i>100% Authentic</li>-->
<!--											<li><i class="fa fa-circle-o" aria-hidden="true"></i>Custom Made</li>-->
<!--										</ul>-->
<!--									</div>-->
<!--									<div class="tab-pane fade" id="tab_c">-->
<!--										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>-->
<!--									</div>-->
<!--								</div>&lt;!&ndash; tab content &ndash;&gt;-->
<!--							</div>-->
<!--						</div>&lt;!&ndash; end col &ndash;&gt;-->
<!--					</div>&lt;!&ndash; end row &ndash;&gt;-->
					
                    <hr class="hr1"> 

                    <div class="row text-center" >
                        <div class="col-md-4 col-sm-6 col-xs-12">
                           <div class="service-widget" >
                                <div width="150px" class="post-media wow fadeIn" th:object="${topBeer}">
                                    <h3>TOP BEER</h3>
                                    <a th:href="@{'/beers/' + ${topBeer.id}}" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                                    <div th:unless="${topBeer.getPicture() == null}">
                                        <img  th:src="@{'data:image/jpeg;base64,' + ${topBeer.getPicture()}}" class="img-responsive img-rounded" alt="image"/>
                                    </div>
                                    <div th:if="${topBeer.getPicture() == null}">
                                        <img width="200px" src="../images/beer_nopic.jpg" class="img-responsive img-rounded" alt="missing"/>
                                    </div>

                               <h4 th:object="${topBeer}" th:text="${topBeer.name}" title="Name"></h4>
                               <h4 th:object="${topBeer}" th:text="${topBeer.style}" title="Style"></h4>
                               <h4 th:object="${topBeer}" th:text="${topBeer.rating}" title="Rating"></h4>
<!--                                <p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>-->
                            </div><!-- end service -->
                        </div>

<!--                        <div class="col-md-4 col-sm-6 col-xs-12">-->
                            <div class="service-widget">
                                <div width="150px" class="post-media wow fadeIn" th:object="${secondBeer}">
                                <h3>NEXT FAVORITE</h3>
                                <a th:href="@{'/beers/' + ${secondBeer.id}}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                                <div th:unless="${secondBeer.getPicture() == null}">
                                    <img width="200px" th:src="@{'data:image/jpeg;base64,' + ${secondBeer.getPicture()}}" class="img-responsive img-rounded" alt="image"/>
                                </div>
                                <div th:if="${secondBeer.getPicture() == null}">
                                    <img width="200px" src="../images/beer_nopic.jpg" class="img-responsive img-rounded" alt="missing"/>
                                </div>
                                <h4 th:object="${secondBeer}" th:text="${secondBeer.name}" title="Name"></h4>
                                <h4 th:object="${secondBeer}" th:text="${secondBeer.style}" title="Style"></h4>
                                <h4 th:object="${secondBeer}" th:text="${secondBeer.rating}" title="Rating"></h4>
<!--                                <p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>-->
                                </div>
                            </div><!-- end service -->
<!--                        </div>-->

<!--                        <div class="col-md-4 col-sm-6 col-xs-12">-->
                            <div class="service-widget">
                                <div width="150px" class="post-media wow fadeIn" th:object="${thirdBeer}">
                                <h3>#3</h3>
                                    <a th:href="@{'/beers/' + ${thirdBeer.id}}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                                    <div th:unless="${thirdBeer.getPicture() == null}">
                                        <img width="200px" th:src="@{'data:image/jpeg;base64,' + ${thirdBeer.getPicture()}}" class="img-responsive img-rounded" alt="image"/>
                                    </div>
                                    <div th:if="${thirdBeer.getPicture() == null}">
                                        <img width="200px" src="../images/beer_nopic.jpg" class="img-responsive img-rounded" alt="missing"/>
                                    </div>
                                    <h4 th:object="${thirdBeer}" th:text="${thirdBeer.name}" title="Name"></h4>
                                    <h4 th:object="${thirdBeer}" th:text="${thirdBeer.style}" title="Style"></h4>
                                    <h4 th:object="${thirdBeer}" th:text="${thirdBeer.rating}" title="Rating"></h4>
<!--                                <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>-->
                                </div>
                            </div><!-- end service -->
<!--                        </div>-->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end section -->

<!--            <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('uploads/parallax_20.jpg');">-->
<!--                <div class="container-fluid">-->
<!--                    <div class="section-title row text-center">-->
<!--                        <div class="col-md-8 col-md-offset-2">-->
<!--                        <small>LET'S SEE OUR TESTIMONIALS</small>-->
<!--                        <h3>HAPPY TESTIMONIALS</h3>-->
<!--                        <hr class="grd1">-->
<!--                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end title &ndash;&gt;-->

<!--                    <div class="row">-->
<!--                        <div class="col-md-12 col-sm-12">-->
<!--                            <div class="testi-carousel owl-carousel owl-theme">                                -->
<!--                                <div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>-->
<!--                                        <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="uploads/testi_01.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>James Fernando <small>- Manager of Racer</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                                <div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>-->
<!--                                        <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="uploads/testi_02.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>Jacques Philips <small>- Designer</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                                <div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>-->
<!--                                        <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--								<div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>-->
<!--                                        <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; end carousel &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end section &ndash;&gt;-->

            <div class="copyrights">
                <div class="container-fluid">
                    <div class="footer-distributed">
                        <div class="footer-left">
                            <p class="footer-links">
                                <b>BROWSE</b>
                                <a href="/countries">Countries of origin</a>
                                <a href="/styles">Beer Styles</a>
                                <a href="/breweries">Breweries</a>
                                <a href="/tags">Browse & Create Tags</a>
                                <!--                                <a href="#">Faq</a>-->
                                <!--                                <a href="#">Contact</a>-->
                            </p>
                            <!--                            <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SMBarber</a> Design By : <a href="https://html.design/">html design</a></p>-->
                        </div>

                        <div class="footer-right">
                            <form method="get" action="#">
                                <input placeholder="Search" name="search">
                                <!--                                <i class="fa fa-envelope-o"></i>-->
                                <i id="search"></i>

                            </form>
                        </div>
                    </div>
                </div><!-- end container -->
            </div><!-- end copyrights -->
        </div>
    </div><!-- end wrapper -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
	<script src="js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);
    </script>

</body>
</html>