<!DOCTYPE html>
<html lang="en"    xmlns:th="http://www.thymeleaf.org"
                   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Beer Application</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

<p>
    <b th:if="${errors != null}" th:text="${errors}" class="error"/>
</p>

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <span class="loading" data-name="Loading">Loading Login Page</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">
			<div class="side-top">
				<div class="logo-sidebar">
                    <a href="/"><img src="images/beer-logo.png" alt="image"></a>
                </div>
				<ul class="sidebar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalogue">Catalogue</a></li>
                    <!--					<li><a href="styles.html">Our Services</a></li>-->
                    <li><a href="/users">Regular Users</a></li>
                    <!--					<li><a href="/user-profile">User Profile</a></li>-->
                    <li><a th:href="@{'/users/' + ${#authentication.name} + '/user-profile'}" sec:authorize="isAuthenticated()">User Profile</a></li>
                    <li><a href="/register">Join</a></li>
				</ul>
			</div>
        </div>
        <!-- End Sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
			
            <div class="all-page-bar" id="register">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="title title-1 text-center">
                                <p><a href="#login-here" th:if="${error != null}" th:text="${error}" class="lead" th:align="center" style="color: red; font-size: 28px"></a></p>
                                <div class="title--heading">
									<h1>login.</h1>
								</div>
								<div class="clearfix"></div>
								<ol class="breadcrumb">
									<li><a href="/">home.</a></li>
									<li class="active">login.</li>
								</ol>
								<div class="much">
                                    <img src="uploads/element.png" alt=""/>
								</div>
							</div>
							<!-- .title end -->
						</div>
					</div>
				</div>
			</div><!-- end all-page-bar -->
            <section class="section nopad cac text-center">
                <a href="#login-here"><h3>Welcome back! Please enter your login credentials below:</h3></a>
            </section>

            <div id="contact" class="section wb">
                <div class="container-fluid">
                    <div class="section-title row text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <small id="login-here">LET US KNOW WHAT'S UP</small>
                            <h3>Login Details:</h3>
                            <hr class="grd1">
                            <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                        </div>
                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="contact_form">
                                <div id="message"></div>
<!--                                <form id="contactform" class="row" action="contact.php" name="contactform" method="post">-->
                                <form th:action="@{/authenticate}" method="post">
                                    <fieldset class="row-fluid">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="username" id="first_name" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="password" name="password" id="last_name" class="form-control" placeholder="Password">
                                        </div>
<!--                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                                            <input type="password" th:field = "*{passwordConfirmation}" class="form-control" placeholder="Confirm Password">-->
<!--                                        </div>-->
                                        <!--                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                                        <!--                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone">-->
                                        <!--                                        </div>-->
                                        <!--                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                        <!--                                            <label class="sr-only">Select Time</label>-->
                                        <!--                                            <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">-->
                                        <!--                                                <option value="selecttime">Select Time</option>-->
                                        <!--                                                <option value="Weekdays">Weekdays</option>-->
                                        <!--                                                <option value="Weekend">Weekend</option>-->
                                        <!--                                            </select>-->
                                        <!--                                        </div>-->
                                        <!--                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                        <!--                                            <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Give us more details.."></textarea>-->
                                        <!--                                        </div>-->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <input type="submit" value="Submit" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt"/>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end section -->

            <div id="map" class="map-box">
                <div class="container-fluid">
                    
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="copyrights">
                <div class="container-fluid">
                    <div class="footer-distributed">
                        <div class="footer-left">
                            <p class="footer-links">
                                <b>BROWSE</b>
                                <a href="/countries">Countries of origin</a>
                                <a href="/styles">Beer Styles</a>
                                <a href="/breweries">Breweries</a>
                                <a href="/tags">Browse & Create Tags</a>
                                <!--                                <a href="#">Faq</a>-->
                                <!--                                <a href="#">Contact</a>-->
                            </p>
                            <!--                            <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SMBarber</a> Design By : <a href="https://html.design/">html design</a></p>-->
                        </div>

                        <div class="footer-right">
                            <form method="get" action="#">
                                <input placeholder="Search" name="search">
                                <!--                                <i class="fa fa-envelope-o"></i>-->
                                <i id="search"></i>

                            </form>
                        </div>
                    </div>
                </div><!-- end container -->
            </div><!-- end copyrights -->
        </div>
    </div><!-- end wrapper -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
	<script src="js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);
    </script>

</body>
</html>