<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="design/global-design.css"/>
    <title>Show Style By Id</title></head>
<body>
<form action="#" th:action="@{/styles/{id}}" th:object="${style}" method="get">
    <h2 th:text="#{style.name}"><em>Style</em></h2>
    <h3 type="text" th:text="${style.name}"></h3>
    <label class="error" th:errors="*{name}"></label>
</form>
</body>
</html>