<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Beer Application</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Colors CSS -->
    <link rel="stylesheet" href="../css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <span class="loading" data-name="Loading">Beer Loading</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">
			<div class="side-top">
                <div class="logo-sidebar">
                <a href="/"><img src="../images/beer-logo.png" alt="image"></a>
				</div>
            <ul class="sidebar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/catalogue">Catalogue</a></li>
                <li><a href="/users">Regular Users</a></li>
                <li><a th:href="@{'/users/' + ${#authentication.name}}">User Profile</a></li>
                <li><a href="/register" sec:authorize="!isAuthenticated()">Join</a></li>
                <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get" class="login" id="login">
                    <input type="submit" value="Login"/>
                </form>

                <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post" class="login">
                    <input type="submit" value="Logout"/>
                </form>
            </ul>
			</div>
        </div>
        <!-- End Sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
			
            <div class="all-page-bar" id="show-beer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="title title-1 text-center">
								<div class="title--heading">
									<h1>beer details.</h1>
								</div>
								<div class="clearfix"></div>
								<ol class="breadcrumb">
									<li><a href="/">home.</a></li>
									<li class="active">beer details.</li>
								</ol>
								<div class="much">
									<img src="../uploads/beer_icon.png" alt=""/>
								</div>
							</div>
							<!-- .title end -->
						</div>
					</div>
				</div>
			</div><!-- end all-page-bar -->

            <section class="section nopad cac text-center">
                <a href="/login" sec:authorize="!isAuthenticated()"><h3>You find some of the information for the beer incorrect? You need to be logged in and the creator of the beer to edit its details.</h3></a>
                <a sec:authorize="isAuthenticated()" th:if="${beer.creator.getUserId() == user.getUserId()}" th:href="'/beers/' + ${beer.beerId} + '/update'" ><h3>Something's wrong with the details of the beer? Edit it.</h3></a>
                <a sec:authorize="isAuthenticated()" th:unless="${beer.creator.getUserId() == user.getUserId()}" class="not-allowed"><h3>Sorry, you have to be the creator of the beer to be able to modify it.</h3></a>
            </section>

            <div id="services" class="section lb">
                <div class="container-fluid">
                    <div class="section-title row text-center">
                        <div class="col-md-8 col-md-offset-2">
                        <small>You have drunk this beer before and want to share your experience
                            <br/> or would you like to try it soon and add it to your wish list?  </small>
                        <h3 th:text="${beer.name}">beer name</h3>
                        <hr class="grd1">
                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                        </div>
                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-wrap clearfix">
                                <div class="img-responsive img-rounded alignleft">
                                    <div th:unless="${beer.picture == null}">
                                        <img height="150" width="150" th:src="@{'data:image/jpeg;base64,' + ${beer.picture}}" style="border-radius: 50%" alt="image"/>
                                    </div>
                                    <div th:if="${beer.picture == null}">
                                        <img src="../images/beer_nopic.jpg" alt="missing"/>
                                    </div>
                                </div>

                                <div class="tabledonika">
<!--                                    <div class="headerdonika">-->
<!--&lt;!&ndash;                                        <div class="firstcell">&ndash;&gt;-->
<!--&lt;!&ndash;                                             <div class="rowdonika">Name</div>&ndash;&gt;-->
<!--&lt;!&ndash;                                             <div class="rowdonika">Tags</div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                        <div class="celldonika beerdetails" ></div>-->
<!--                                        <div class="celldonika desc">Description</div>-->
<!--                                        <div class="celldonika">Rating</div>-->
<!--                                    </div>-->
                                    <div class="rowdonika">
                                        <h4 class="celldonika" th:text="${beer.name}" title="Name"></h4>
                                        <h3 class="donika beeradv" th:text="${beer.abv}" title="Alcohol per value"></h3>
                                    </div>
                                    <div th:class="rowdonika">
                                        <h3  class="celldonika style" th:text="${style}" title="Style"></h3>
                                        <h3 class="celldonika beeradv" th:text="abv" title="Alcohol per value"></h3>

                                    </div>
                                    </div>
                                    <div class="rowdonika">
                                    <div class="celldonika" th:text="${beer.description}" title="Description"></div>
                                    </div>
<!--                                    <div class="rowdonika">-->
<!--&lt;!&ndash;                                        <div class="celldonika" th:text="${beer.rating}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h4>beard, mustache care</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>&ndash;&gt;-->
<!--                            </div>&lt;!&ndash; end issue &ndash;&gt;-->
                        </div><!-- end col -->

                            <div class="service-wrap clearfix">

                                <div class="celldonika">
                                    <div class="headerdonika">
                                        <div class="celldonika wholeline" title="Brewery name">Brewery</div>
                                    </div>
                                    <div class="rowdonika" >
                                        <div class="celldonika" th:text="${brewery}"></div>
                                    </div>

<!--                                <div class="img-responsive img-rounded alignleft">-->
<!--                                    <div th:unless="${beer.picture == null}">-->
<!--                                        <img height="150" width="150" th:src="@{'data:image/jpeg;base64,' + ${beer.picture}}" style="border-radius: 50%" alt="image"/>-->
<!--                                    </div>-->
<!--                                    <div th:if="${beer.picture == null}">-->
<!--                                        <img src="../images/beer_nopic.jpg" alt="missing"/>-->
<!--                                    </div>-->
<!--                                </div>-->
                                </div>
                            </div>

                                        <div class="service-wrap clearfix">
                                <div class="celldonika">
                                    <div class="headerdonika">
                                        <div class="celldonika wholeline">Country of origin</div>
<!--                                        <div class="celldonika">Rating</div>-->
                                    </div>
                                    <div class="rowdonika" >
                                        <div class="celldonika" th:text="${country}"></div>
                                    </div>

                                    <!--                                <h4>beard, mustache care</h4>-->
                                    <!--                                <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>-->
                                </div><!-- end issue -->
                            </div>

                            <div class="service-wrap clearfix">
                                <div class="celldonika">
                                    <div class="headerdonika">
                                        <div class="celldonika wholeline">Average rating</div>
                                    </div>
                                        <div class="rowdonika" >
                                            <div class="celldonika" th:if="${singleBeerDto.rating != null}" th:text="${singleBeerDto.rating}"></div>
                                            <div class="celldonika" th:if="${singleBeerDto.rating == null}" th:text="#{NA}"></div>
                                        </div>
                                </div>
                            </div>

                                    <div class="service-wrap clearfix">
                                        <!--                                <div class="img-responsive img-rounded alignleft">-->
                                        <!--                                    <div th:unless="${beer.picture == null}">-->
                                        <!--                                        <img height="150" width="150" th:src="@{'data:image/jpeg;base64,' + ${beer.picture}}" style="border-radius: 50%" alt="image"/>-->
                                        <!--                                    </div>-->
                                        <!--                                    <div th:if="${beer.picture == null}">-->
                                        <!--                                        <img src="../images/beer_nopic.jpg" alt="missing"/>-->
                                        <!--                                    </div>-->
                                        <!--                                </div>-->

                                        <div class="tabledonika">
                                            <div class="headerdonika">
                                                <div class="celldonika">Tags</div>
                                            </div>
                                            <div class="list-group-item" th:unless="${singleBeerDto.tagsList.isEmpty()}"
                                                 th:text="${singleBeerDto.tagsList}">
                                            </div>
                                            <!--                                        <div class="celldonika" th:if="${beer.rating != null}" th:text="${beer.rating}"></div>-->
                                            <!--                                        <div class="celldonika" th:if="${beer.rating == null}" th:text="#{NA}"></div>-->

                                            <!--                                <h4>beard, mustache care</h4>-->
                                            <!--                                <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>-->
                                        </div><!-- end issue -->
                                    </div>
                            <hr class="invis4">

                            <div class="service-wrap clearfix">

                                <div class="tabledonika">
                                    <div class="celldonika">
                                <div class="text-left">
                                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1"><img class="addsign" src="../images/addsign.png"/>TO DRANK LIST</a>
                                </div>
                                    </div>
                                <div class="celldonika">
                                <div class="text-center">
                                    <form sec:authorize="isAuthenticated()" th:unless="${singleBeerDto.ratersList.contains(user.getUserId())}" th:action="@{'/beers/' + ${singleBeerDto.beerId} + '/rate'}" th:object="${singleBeerDto}" method="post">
                                        <input type="number" th:field="${singleBeerDto.rating}" placeholder="Rate" min="1" max="5"/>
                                        <input type="submit" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1"/>
                                    </form>
                                </div>
                                </div>
                                    <div class="celldonika">
                                <div class="text-right">
                                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1"><img class="addsign" src="../images/addsign.png"/>TO WISH LIST</a>
                                </div>

                            </div>

                    </div>
                </div><!-- end container -->
            </div><!-- end section -->

<!--            <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('../uploads/parallax_20.jpg');">-->
<!--                <div class="container-fluid">-->
<!--                    <div class="section-title row text-center">-->
<!--                        <div class="col-md-8 col-md-offset-2">-->
<!--                        <small>LET'S SEE OUR TESTIMONIALS</small>-->
<!--                        <h3>HAPPY TESTIMONIALS</h3>-->
<!--                        <hr class="grd1">-->
<!--                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end title &ndash;&gt;-->

<!--                    <div class="row">-->
<!--                        <div class="col-md-12 col-sm-12">-->
<!--                            <div class="testi-carousel owl-carousel owl-theme">                                -->
<!--                                <div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>-->
<!--                                        <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="../uploads/testi_01.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>James Fernando <small>- Manager of Racer</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                                <div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>-->
<!--                                        <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="../uploads/testi_02.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>Jacques Philips <small>- Designer</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                                <div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>-->
<!--                                        <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="../uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--								<div class="testimonial clearfix">-->
<!--                                    <div class="desc">-->
<!--                                        <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>-->
<!--                                        <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
<!--                                    </div>-->
<!--                                    <div class="testi-meta">-->
<!--                                        <img src="../uploads/testi_03.png" alt="" class="img-responsive alignright">-->
<!--                                        <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; end carousel &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end section &ndash;&gt;-->

            <div class="copyrights">
                <div class="container-fluid">
                    <div class="footer-distributed">
                        <div class="footer-left">
                            <p class="footer-links">
                                <b>BROWSE</b>
                                <a href="#">Countries of origin</a>
                                <a href="#">Beer Styles</a>
                                <a href="#">Breweries</a>
                                <a href="#">Browse & Create Tags</a>
                                <!--                                <a href="#">Faq</a>-->
                                <!--                                <a href="#">Contact</a>-->
                            </p>
                            <!--                            <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SMBarber</a> Design By : <a href="https://html.design/">html design</a></p>-->
                        </div>

                        <div class="footer-right">
                            <form method="get" action="#">
                                <input placeholder="Search" name="search">
                                <!--                                <i class="fa fa-envelope-o"></i>-->
                                <i id="search"></i>

                            </form>
                        </div>
                    </div>
                </div><!-- end container -->
            </div><!-- end copyrights -->
        </div>
    </div><!-- end wrapper -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../js/all.js"></script>
	<script src="../js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../js/custom.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);
    </script>

</body>
</html>