<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="design/global-design.css"/>
    <title>Show Tag By Id</title></head>
<body>
<form action="#" th:action="@{/tag/{id}}" th:object="${tag}" method="get">
    <h2 th:text="#{tag.name}"><em>Tag</em></h2>
    <h3 type="text" th:text="${tag.name}"></h3>
    <label class="error" th:errors="*{name}" th:text="#{tag.invalidname}">Tag name error</label>
</form>
</body>
</html>