<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Sorted Beers</title>
</head>
<body>
<form action="#" th:action="@{/beers/sort/{by}}" th:object="${beers}" method="post">
    <div th:if="${beers.isEmpty()}">
        <h2 th:text="#{name.emptytitle}">No Beers</h2>
    </div>
    <div th:unless="${beers.isEmpty()}">
        <h2 th:text="'Sorted beers:'">Beers</h2>

    </div>

    <div class="table">
        <div class="header">
        </div>
        <div class="row" th:each="beer : ${beers}">
            <div class="cell" th:text="'Beer\'s name: '+${beer.name}">Beers</div>
            <br/>
        </div>
        <br/>
    </div>
</body>
</html>