<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Update Tag</title>
</head>
<body>
<form action="#" th:action="@{/tags/{id}/update(id=${tag.getId()})}" th:object="${tag}"
      method="post">
    <label th:text="#{tag.name}">Tag</label>
    <br/>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}"></label>
    <br/>
    <input type="submit" value="Update"/>
    <br/>
    <div th:if="${error !=null}">
        <div class = "already exists">
            <span th:text="${error}"></span>
        </div>
    </div>
</form>
</body>
</html>