<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>Beer Application</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="style.css">
<!-- Colors CSS -->
<link rel="stylesheet" href="css/colors.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="barber_version">

<b th:if="${param.error}" class="error" style="color: red">Wrong username or password.</b>
</p>
<p>
    <b th:if="${param.logout}" class="error" style="color: lightgreen">You have successfully logged out.</b>
</p>

<!-- LOADER -->
<div id="preloader">
    <div class="cube-wrapper">
        <div class="cube-folding">
            <span class="leaf1"></span>
            <span class="leaf2"></span>
            <span class="leaf3"></span>
            <span class="leaf4"></span>
        </div>
        <span class="loading" data-name="Loading">Users Loading</span>
    </div>
</div><!-- end loader -->
<!-- END LOADER -->

<div id="wrapper">

    <!-- Sidebar-wrapper -->
    <div id="sidebar-wrapper">
        <div class="side-top">
            <div class="logo-sidebar">
                <a href="/"><img src="images/beer-logo.png" alt="image"></a>
            </div>
            <ul class="sidebar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/catalogue">Catalogue</a></li>
                <!--					<li><a href="styles.html">Our Services</a></li>-->
                <li><a class="active" href="/users">Regular Users</a></li>
                <!--					<li><a href="/user-profile">User Profile</a></li>-->
                <li><a th:href="@{'/users/' + ${#authentication.name}}" sec:authorize="isAuthenticated()">User Profile</a></li>
                <li><a href="/register" sec:authorize="!isAuthenticated()">Join</a></li>
                <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get" class="login" id="login">
                    <input type="submit" value="Login"/>
                </form>

                <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post" class="login">
                    <input type="submit" value="Logout"/>
                </form>
            </ul>
        </div>
    </div>
    <!-- End Sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>

        <div class="all-page-bar" id="users">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="title title-1 text-center">
                            <div class="title--heading">
                                <h1>users.</h1>
                            </div>
                            <div class="clearfix"></div>
                            <ol class="breadcrumb">
                                <li><a href="/">home.</a></li>
                                <li class="active">users.</li>
                            </ol>
                            <div class="much">
                                <img src="uploads/element.png" alt=""/>
                            </div>
                        </div>
                        <!-- .title end -->
                    </div>
                </div>
            </div>
        </div><!-- end all-page-bar -->

        <section class="section nopad cac text-center">
            <a href="/register"><h3>Not yet a member? Join us here!</h3></a>
        </section>

        <div id="barbers" class="section lb">
            <div class="container-fluid">
                <div class="section-title row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <small>MEET OUR FRIENDS</small>
                        <h3>USERS</h3>
                        <hr class="grd1">
                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim,
                            non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                    </div>
                </div><!-- end title -->

                <div class="rowdonika" th:each="user:${users}">
                <div class="row dev-list text-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="widget clearfix">

                            <div class="tabledonika">
                                <div class="headerdonika">
                                    <div class="celldonika">Username</div>
                                    <div class="celldonika">Picture</div>
                                </div>
                                    <div>
                                        <h3 class="celldonika" th:text="${user.username}"></h3>
                                    </div>
                                <div class="celldonika">
                                    <div th:if="${user.picture == null}">
                                        <img src="../../images/user-pic2.png" alt="missing"/>
                                    </div>
                                    <div th:unless="${user.picture == null}">
                                        <img height="120" width="150"
                                             th:src="@{'data:image/jpeg;base64,' + ${user.picture}}"
                                             style="border-radius: 50%" alt="image"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                            <!--                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">-->
                            <!--                            <div class="widget clearfix">-->
                            <!--								<div class="hover-br">-->
                            <!--									<img src="uploads/barber_team_03.jpg" alt="" class="img-responsive">-->
                            <!--									<div class="social-up-hover">-->
                            <!--										<div class="footer-social">-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--								</div>-->
                            <!--                                <div class="widget-title">-->
                            <!--                                    <h3>Bryan Saftler</h3>-->
                            <!--                                    <small>The Barber</small>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end title &ndash;&gt;-->
                            <!--                                <p>Hello guys, I am Soren from Sirbistana. I am senior art director and barber of the Barber Shop Market.</p>-->
                            <!--                            </div>&lt;!&ndash;widget &ndash;&gt;-->
                            <!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->

                            <!--                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">-->
                            <!--                            <div class="widget clearfix">-->
                            <!--								<div class="hover-br">-->
                            <!--									<img src="uploads/barber_team_02.jpg" alt="" class="img-responsive">-->
                            <!--									<div class="social-up-hover">-->
                            <!--										<div class="footer-social">-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--								</div>-->
                            <!--                                <div class="widget-title">-->
                            <!--                                    <h3>Matthew Bayliss</h3>-->
                            <!--                                    <small>The Barber</small>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end title &ndash;&gt;-->
                            <!--                                <p>Hello guys, I am Soren from Sirbistana. I am senior art director and barber of the Barber Shop Website.</p>-->
                            <!--                            </div>&lt;!&ndash;widget &ndash;&gt;-->
                            <!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->
                            <!--						-->
                            <!--						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">-->
                            <!--                            <div class="widget clearfix">-->
                            <!--								<div class="hover-br">-->
                            <!--									<img src="uploads/barber_team_01.jpg" alt="" class="img-responsive">-->
                            <!--									<div class="social-up-hover">-->
                            <!--										<div class="footer-social">-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--								</div>-->
                            <!--                                <div class="widget-title">-->
                            <!--                                    <h3>Soren Bo Bostian</h3>-->
                            <!--                                    <small>The Founder</small>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end title &ndash;&gt;-->
                            <!--                                <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of The Barber Shop Company.</p>-->
                            <!--                            </div>&lt;!&ndash;widget &ndash;&gt;-->
                            <!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->

                            <!--                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">-->
                            <!--                            <div class="widget clearfix">-->
                            <!--								<div class="hover-br">-->
                            <!--									<img src="uploads/barber_team_03.jpg" alt="" class="img-responsive">-->
                            <!--									<div class="social-up-hover">-->
                            <!--										<div class="footer-social">-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--								</div>-->
                            <!--                                <div class="widget-title">-->
                            <!--                                    <h3>Bryan Saftler</h3>-->
                            <!--                                    <small>The Barber</small>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end title &ndash;&gt;-->
                            <!--                                <p>Hello guys, I am Soren from Sirbistana. I am senior art director and barber of the Barber Shop Market.</p>-->
                            <!--                            </div>&lt;!&ndash;widget &ndash;&gt;-->
                            <!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->

                            <!--                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">-->
                            <!--                            <div class="widget clearfix">-->
                            <!--								<div class="hover-br">-->
                            <!--									<img src="uploads/barber_team_02.jpg" alt="" class="img-responsive">-->
                            <!--									<div class="social-up-hover">-->
                            <!--										<div class="footer-social">-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>-->
                            <!--											<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--								</div>-->
                            <!--                                <div class="widget-title">-->
                            <!--                                    <h3>Matthew Bayliss</h3>-->
                            <!--                                    <small>The Barber</small>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end title &ndash;&gt;-->
                            <!--                                <p>Hello guys, I am Soren from Sirbistana. I am senior art director and barber of the Barber Shop Website.</p>-->
                            <!--                            </div>&lt;!&ndash;widget &ndash;&gt;-->
                            <!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->
                            <!--                    </div>&lt;!&ndash; end row &ndash;&gt;-->
                            <!--                </div>&lt;!&ndash; end container &ndash;&gt;-->
                            <!--            </div>&lt;!&ndash; end section &ndash;&gt;-->

                            <!--            <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('uploads/parallax_20.jpg');">-->
                            <!--                <div class="container-fluid">-->
                            <!--                    <div class="section-title row text-center">-->
                            <!--                        <div class="col-md-8 col-md-offset-2">-->
                            <!--                        <small>LET'S SEE OUR TESTIMONIALS</small>-->
                            <!--                        <h3>HAPPY TESTIMONIALS</h3>-->
                            <!--                        <hr class="grd1">-->
                            <!--                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>-->
                            <!--                        </div>-->
                            <!--                    </div>&lt;!&ndash; end title &ndash;&gt;-->

                            <!--                    <div class="row">-->
                            <!--                        <div class="col-md-12 col-sm-12">-->
                            <!--                            <div class="testi-carousel owl-carousel owl-theme">                                -->
                            <!--                                <div class="testimonial clearfix">-->
                            <!--                                    <div class="desc">-->
                            <!--                                        <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>-->
                            <!--                                        <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="testi-meta">-->
                            <!--                                        <img src="uploads/testi_01.png" alt="" class="img-responsive alignright">-->
                            <!--                                        <h4>James Fernando <small>- Manager of Racer</small></h4>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
                            <!--                                <div class="testimonial clearfix">-->
                            <!--                                    <div class="desc">-->
                            <!--                                        <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>-->
                            <!--                                        <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="testi-meta">-->
                            <!--                                        <img src="uploads/testi_02.png" alt="" class="img-responsive alignright">-->
                            <!--                                        <h4>Jacques Philips <small>- Designer</small></h4>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
                            <!--                                <div class="testimonial clearfix">-->
                            <!--                                    <div class="desc">-->
                            <!--                                        <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>-->
                            <!--                                        <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="testi-meta">-->
                            <!--                                        <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
                            <!--                                        <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
                            <!--								<div class="testimonial clearfix">-->
                            <!--                                    <div class="desc">-->
                            <!--                                        <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>-->
                            <!--                                        <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="testi-meta">-->
                            <!--                                        <img src="uploads/testi_03.png" alt="" class="img-responsive alignright">-->
                            <!--                                        <h4>Venanda Mercy <small>- Newyork City</small></h4>-->
                            <!--                                    </div>-->
                            <!--                                    &lt;!&ndash; end testi-meta &ndash;&gt;-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; end testimonial &ndash;&gt;-->
                            <!--                            </div>&lt;!&ndash; end carousel &ndash;&gt;-->
                            <!--                        </div>&lt;!&ndash; end col &ndash;&gt;-->
                            <!--                    </div>&lt;!&ndash; end row &ndash;&gt;-->
                            <!--                </div>&lt;!&ndash; end container &ndash;&gt;-->
                            <!--            </div>&lt;!&ndash; end section &ndash;&gt;-->

                            <div class="copyrights">
                                <div class="container-fluid">
                                    <div class="footer-distributed">
                                        <div class="footer-left">
                                            <p class="footer-links">
                                                <b>BROWSE</b>
                                                <a href="/countries">Countries of origin</a>
                                                <a href="/styles">Beer Styles</a>
                                                <a href="/breweries">Breweries</a>
                                                <a href="/tags">Browse & Create Tags</a>
                                                <!--                                <a href="#">Faq</a>-->
                                                <!--                                <a href="#">Contact</a>-->
                                            </p>
                                            <!--                            <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SMBarber</a> Design By : <a href="https://html.design/">html design</a></p>-->
                                        </div>

                                        <div class="footer-right">
                                            <form method="get" action="#">
                                                <input placeholder="Search" name="search">
                                                <!--                                <i class="fa fa-envelope-o"></i>-->
                                                <i id="search"></i>

                                            </form>
                                        </div>
                                    </div>
                                </div><!-- end container -->
                            </div><!-- end copyrights -->
                        </div>
                    </div><!-- end wrapper -->

                    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

                    <!-- ALL JS FILES -->
                    <script src="js/all.js"></script>
                    <script src="js/responsive-tabs.js"></script>
                    <!-- ALL PLUGINS -->
                    <script src="js/custom.js"></script>

                    <!-- Menu Toggle Script -->
                    <script>
                        (function ($) {
                            "use strict";
                            $("#menu-toggle").click(function (e) {
                                e.preventDefault();
                                $("#wrapper").toggleClass("toggled");
                            });
                            smoothScroll.init({
                                selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
                                selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
                                speed: 500, // Integer. How fast to complete the scroll in milliseconds
                                easing: 'easeInOutCubic', // Easing pattern to use
                                offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
                                callback: function (anchor, toggle) {
                                } // Function to run after scrolling
                            });
                        })(jQuery);
                    </script>

</body>
</html>