<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Successful removal of account</title>
</head>
<body>
<h2>User deletion Confirmation Page</h2>
<p>"Your account has been successfully removed."</p>
<h3 th:href="/">Home Page</h3>
</body>
</html>