<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="design/global-design.css"/>
    <title>Delete User</title>
</head>
<body>
<form action="#" th:action="@{/users/{username}/delete(id=${user.getUsername()})}" th:object="${user}" method="post">
    <h2 th:text="#{user.username}">User</h2>
    <br/>
    <h3 type="text" th:text="${user.username}"></h3>
    <label class="error" th:errors="*{username}"></label>
    <input type="submit" value="Delete"/>
</form>

</body>
</html>